<a href="https://colab.research.google.com/github/Shamima-IT22017/19DecShamimaB5/blob/main/shamima_it22017_19_b3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

name = "John"
age = 25
height = 5.9

# Printing the values of the variables
print("Name:", name)
print("Age:", age)
print("Height:", height)

Name: John
Age: 25
Height: 5.9

In [ ]:
# Integer Data Type
age = 25
print("Age:", age)
print("Type of age:", type(age))

Age: 25
Type of age: <class 'int'>

In [ ]:
# Assigning numbers to variables
a = 15
b = 5

# Performing basic arithmetic operations
sum_result = a + b
difference = a - b
product = a * b
quotient = a / b

# Printing the results
print("Sum:", sum_result)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 20
Difference: 10
Product: 75
Quotient: 3.0